[core]
 editor = nvim
[transfer]
 fsckobjects = true
[fetch]
 fsckobjects = true
[receive]
  fsckobjects = true 
[push]
	default = simple
[mergetool "fugitive"]
  cmd = nvim -f -c Gdiff \"$MERGED\"
[merge]
	tool = fugitive
[user]
	name = Jason Schulz
	email = jason@schulz.name
[color]
	ui = true
[web]
	browser = /usr/bin/w3m
[color "diff"]
	new = white
	old = bold cyan
	frag = white
  meta = white
[color "status"]
	added = white
	updated = white
	changed = bold cyan
	untracked = bold cyan
