[core]
	editor = nvim
[transfer]
	fsckobjects = true
[fetch]
	fsckobjects = true
[receive]
	fsckobjects = true
[push]
	default = simple
[mergetool "fugitive"]
	cmd = nvim -f -c Gdiff \"$MERGED\"
[merge]
	tool = fugitive
[user]
	name = Jason Schulz
	email = jason@schulz.name
[color]
	ui = true
[web]
	browser = elinks
[color "branch"]
	current = 255
	local = 233
	remote = 234
[color "diff"]
	new = 255
	old = 248
	frag = 33
	meta = 241
[color "status"]
	added = 255
	commit = 255
	updated = 255
	changed = 255
	untracked = 241
