download_rate = 0
upload_rate = 100

encryption = allow_incoming

port_range = 6882-6999

check_hash = yes
use_udp_trackers = yes

dht = auto
dht_port = 6881
peer_exchange = yes

session = ~/.rtorrent/session
directory = ~/.rtorrent/downloads

schedule = low_diskspace,5,60,close_low_diskspace=10G
schedule = watch_directory,5,5,load_start=~/.rtorrent/torrents/*.torrent

throttle_ip=NULL,192.168.0.0/24

#min_peers = 40
#max_peers = 100

# same as above but for seeding completed torrents (-1 = same as downloading)
#min_peers_seed = 10
#max_peers_seed = 50

# maximum number of simultanious uploads per torrent
#max_uploads = 15

#ip = rakshasa.no
#bind = rakshasa.no
#port_random = no


# allow_incoming, try_outgoing, require, require_RC4, enable_retry, prefer_plaintext
# encryption = allow_incoming,enable_retry,prefer_plaintext


#hash_read_ahead = 10

#hash_interval = 100

#hash_max_tries = 10
