session.path.set = ~/.rtorrent/session
directory.default.set = ~/.rtorrent/download

throttle.global_down.max_rate.set = 1024
throttle.global_up.max_rate.set = 100

throttle.ip=NULL,192.168.0.0/24

dht.mode.set = auto
dht.port.set = 6881

protocol.pex.set = yes
protocol.encryption.set = allow_incoming

trackers.use_udp.set = yes

network.port_range.set = 6882-6999

schedule = low_diskspace,5,60,close_low_diskspace=16G
schedule = watch_directory,5,5,load.start=~/.rtorrent/torrents/*.torrent
